
body{
    /*background: url("img/jiemian3.jpg");*/
}

div{
    margin-top: 300px;
    font-size:20px;
    font-weight: bold;
}

/*表格框架*/
table {
    width: 35%;
    border-collapse: collapse;
    margin: auto;
    background-color: palegreen;
}

table, td, th {
    border: 2px solid black;
    margin: auto;
    /*padding: 5px;*/
    text-align: center;
}

input{
    height: 20px;
    font-size:20px ;
}

#add_sub,#add_re{
    height: 30px;
}
